/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
  padding: 0;
  position: sticky;
  border: 0.5px solid black;
  width: 100%;
  z-index: 2;

  .topnav-brand {
    float: left;
    color: #E6E6FA;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 700;
  }
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid lighten($border-color, 20%);
  padding: $spacing-unit 0;
  background-color: #333;
}

.footer-heading {
  background-color: #333;
  font-size: 15px;
  margin-bottom: $spacing-unit / 2;
  text-align: center;
  color: #E6E6FA;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 10px;
}


/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 24px;
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}
